{% extends "layout.html" %}
{% block title %}Book search{% endblock %}
{% block content %}
    <div class="col">
        <h1>Book info</h1>
        <a href="https://www.goodreads.com/book/isbn/{{ book.isbn }}" target="_blank">
            <img class="img-thumbnail img-fluid float-left" src="{{ book.img_url }}" alt={{ book.title }} class="pull-left">
        </a>
        <ul class="float-left">
            <li>
                Title: <h5>{{ book.title }}</h5>
            </li>
            <li>
                Author: <h5>{{ book.author }}</h5>
            </li>
            <li>
                Year: <h5>{{ book.year }}</h5>
            </li>
            <li>
                ISBN: <h5>{{ book.isbn }}</h5>
            </li>
            <li>Goodreads rating: <h5>{{ book.gr_average_rating }}</h5></li>
            <li>Goodreads ratings count: <h5>{{ book.gr_ratings_count }}</h5></li>
        </ul>
    </div>
    <div class="col">
        <h1>Reviews</h1>
        <span>Reviews count: {{ book.reviews|length() }}</span>
        <span>Average rating:
            {% if book.reviews|length() != 0  %}
                {{ book.reviews|sum(attribute='rating') / book.reviews|length() }}</span>
            {% else %}
                0
            {% endif %}
        <ul>
            {% for review in book.reviews %}
                <li><strong>{{ review.username }}</strong> rated it <span style="color: red">{{ review.rating * "♥" }}</span><br>
                    {{ review.text }}
                </li>
            {% endfor %}
        </ul>

    </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Submit review</h1>

            <form action="/book/{{ book.id }}" method="POST">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value="2">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value="3">
                    <label class="form-check-label" for="inlineRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value="4">
                    <label class="form-check-label" for="inlineRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value="5">
                    <label class="form-check-label" for="inlineRadio5">5</label>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Review text</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review_text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit review</button>
            </form>


        </div>

{% endblock %}